<div class="container">
    <div class="row justify-content-center">
        <div class="col-10 col-lg-6">
            <div class="jumbotron my-5 px-5 shadow-sm">
                <h1 class="display-4">The App</h1>
                <hr class="my-4">
                <h4>Convert Currency</h4>
                <p class="lead">Convert the currency you need to over 32 different currencies around the world, with the
                    latest
                    real-time exchange rate.</p>
                <h4>Exchange Rate</h4>
                <p class="lead">Fetch the exchange rates and stay updated on continually fluctuating currency exchange
                    rates.</p>
                <h5>API Source</h5>
                <p class="lead"><a href="https://exchangeratesapi.io/" target="_blank">https://exchangeratesapi.io/</a>
                </p>
            </div>
        </div>
        <div class="col-10 col-lg-6">
            <div class="jumbotron my-5 px-5 shadow-sm">
                <h1 class="display-4">Developer</h1>
                <hr class="my-4">
                <div class="row justify-content-center">
                    <div class="col-10 col-md-4">
                        <img src="../../assets/li.jpg" alt="" class="img-fuild" width="120" height="120">
                    </div>
                    <div class="col-10 col-md-8">
                        <h4 class="text-left">Meet Thakkar</h4>
                        <hr>
                        <div><i class="fas fa-at mr-2"></i><a>Meet.AppKraft@gmail.com</a></div>
                        <div><i class="fab fa-linkedin mr-2"></i><a href="https://www.linkedin.com/in/meethakkar" target="_blank">/Meethakkar</a></div>
                        <div><i class="fab fa-youtube mr-2"></i><a href="https://www.youtube.com/channel/UCbYI7OgJ5EyvSuH2EfhUMrw" target="_blank">/AppKraft</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>