<div class="d-flex flex-column flex-md-row align-items-center p-4 px-md-4 appbar text-white border-bottom shadow-sm sticky-top">
    <h5 class="my-0 mr-md-auto font-weight-large">
        Currency Convertor
    </h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-white mx-2" routerLink="" routerLinkActive="active" fragment="convert" [routerLinkActiveOptions]="{exact: true}">Convert Currency</a>
        <a class="p-2 text-white mx-2" routerLink="/rates" routerLinkActive="active">Rates</a>
        <a class="p-2 text-white mx-2" routerLink="/about" routerLinkActive="active">About</a>
    </nav>
</div>